asn1crypto==0.24.0
backports.entry-points-selectable==1.1.0
certifi==2021.5.30
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.1.4
distlib==0.3.2
Django==1.11.29
enum34==1.1.10
filelock==3.0.12
idna==2.6
importlib-metadata==2.1.1
importlib-resources==3.3.1
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pathlib2==2.3.6
pipenv==2021.5.29
platformdirs==2.0.2
pycrypto==2.6.1
pygobject==3.26.1
pytz==2021.1
pyxdg==0.25
scandir==1.10.0
SecretStorage==2.3.1
singledispatch==3.7.0
six==1.16.0
typing==3.10.0.0
virtualenv==20.7.2
virtualenv-clone==0.5.7
zipp==1.2.0
