*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .body{
    overflow-x: hidden;
  }


.jumbotron{
    /* background-image: url(/image/johannes-plenio-FZpCcPss9to-unsplash.jpg); */
    text-align: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.jumbotron h1{
 color: white;   
}
.navbar-brand1 img{
    width:30%;
    padding: 50px 0;
}

.header-nav{
    justify-content: center;
    display: flex;
    padding-top: 50px;
}

.link-1 img{
    float: right;
    width: 30%;
    padding-top: 100px;
    /* padding: auto; */
}
.link-2 img{
    width: 30%;
    /* padding: auto; */
}
.link-3 img{
    padding-top: 100px;
    float: left;
    width: 30%;
    /* padding: auto; */
}
@media only screen and (max-width: 600px) {
    .link-1 img{
        width: 40%;
        padding-top: 80px;
        
    }
    .link-2 img{
        width: 40%;
        
    }
    .link-3 img{
        padding-top: 80px;
        float: left;
        width: 40%;
        
    }
  }
.navbar-brand img{
    width:20%;
    /* margin-left: 10px; */
}
.navbar-brand{
    margin: 0;
    /* margin-left: 100px; */
}

.nav_logo{
    /* align-items: center; */
    text-align: center;
    float: right;
}

.Feature{
    text-align: center;
    padding: 80px;
}
.Feature img{
    width: 40%;
}


.Quote{
    background: url(./image/edu_base.jpg);
    text-align: center;
    height: 50vh;
    background-position: center;
    background-size: cover;
}


.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-position: center;
    background-size: cover;
 }


 input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #9f449b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #9f449b;
  }
  
  /* Add a background color and some padding around the form */
  

  /*-- testimonial Section CSS --*/
#testimonial {
    padding: 30px 0px 20px;
    color: rgb(141, 40, 40);
    background-color: #e1e1e2;
}
#testimonial h2 {
    font-style: italic;
    color: rgb(44, 33, 33);
    font-size: 26px;
    text-align: center;
}
#testimonial .client-img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border: 3px solid #fff;
    margin: 0px auto;
    border-radius: 100%;
    position: absolute;
    left: 0px;
}

.client-img img{
    height: 80px;
    /* margin-top: 10px; */
}
#testimonial .carousel-content {
    padding: 20px 0px 20px 100px;
    width: 70%;
    margin: 0 auto;
    position: relative;
}
#testimonial h3 {
    font-size: 17px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    font-style: italic;
    text-align: right;
}
#testimonial p {
    font-size: 15px;
}
#testimonial .client-img img {
    width: 100%;
}
#testimonial .carousel-control-prev,
#testimonial .carousel-control-next {
    font-size: 36px;
}

@media (max-width: 576px) {
#testimonial .carousel-content {
    padding: 20px 0px 20px 0px;
    width: 100%;
}
#testimonial .client-img {
    margin: 20px auto;
    position: static;
}
#testimonial h3, #testimonial p {
    text-align: center;
}
}
/*-- End Testimonial Section CSS --*/

.work{
    width: 100%;
    height: 1000px;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    text-align: center;

}

.work ul{
    list-style: none;
}

.work img{
    max-width: 100%;
    height: auto;
}

.work h2{
    text-transform: uppercase;
    font-weight: normal;
    /* font-size: 120%; */
    margin-bottom: 20px;
    color: rgb(43, 43, 43);
}

.filter-menu{
    margin-bottom: 20px;
}
.filter-menu li{
    display: inline-block;
    padding: 10px 18px;
    background: #eb4d4b;
    color: #fff;
    cursor: pointer;
}
.filter-menu li:hover,
.filter-menu li.current{
    background: #ff7979;
}



.filter-item li{
    width: 50%;
    padding: 2px;
    float: left;
}

.filter-item li.active{
    width: 50%;
    padding: 2px;
    transition: all 0.5s ease;
}

.filter-item li.delete{
    width: 0%;
    padding: 0;
    transition: all 0.5s ease;
}

.filter-item img{
    display: block;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px){
    .filter-item li.active,
    .filter-item li{
        width: 33.33%;
    }

    h2{
        font-size: 190%;
    }
}
@media screen and (min-width: 1280px){
    .filter-item li.active,
    .filter-item li{
        width: 25%;
    }

    h2{
        font-size: 270%;
    }
}


/* team team team team team  */
team{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    position: relative;
  }
  team::before{
    content: '';
    position: absolute;
    width: 100%;
    background: #FF676D;
    clip-path: inset(47% 0 0 0);
    z-index: -1;
    height: 100%;
  }
::selection{
    background:	#FF676D;
    color: #fff;
  }
.container{
    max-width: 950px;
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
  }

.container h1{
    text-align: center;
    margin: 20px;
}
  .container .main-card{
    display: flex;
    justify-content: space-evenly;
    width: 200%;
    transition: 1s;
  }
  #two:checked ~ .main-card{
    margin-left: -100%;
  }
  .container .main-card .cards{
    width: calc(100% / 2 - 10px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    justify-content: space-between;
  }
  .main-card .cards .card{
    width: calc(100% / 3 - 10px);
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
  }
  .main-card .cards .card:hover{
    transform: translateY(-15px);
  }
  .cards .card .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .cards .card .content .img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    padding: 3px;
    background: #FF676D;
    margin-bottom: 14px;
  }
  .card .content .img img{
    height: 100%;
    width: 100%;
    border: 3px solid #ffff;
    border-radius: 50%;
    object-fit: cover;
  }
  .card .content .name{
    font-size: 20px;
    font-weight: 500;
  }
  .card .content .job{
    font-size: 20px;
    color: #FF676D;
  }
  .card .content .media-icons{
    margin-top: 10px;
    display: flex;
  
  }
  .media-icons a{
    text-align: center;
    line-height: 33px;
    height: 35px;
    width: 35px;
    margin: 0 4px;
    font-size: 14px;
    color: #FFF;
    border-radius: 50%;
    border: 2px solid transparent;
    background: #FF676D;
    transition: all 0.3s ease;
  }
  .media-icons a:hover{
    color: #FF676D;
    background-color: #fff;
    border-color: #FF676D;
  }
   .container .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .button label{
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background: #FF676D;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .button label.active{
    width: 35px;
  }
  #one:checked ~ .button .one{
    width: 35px;
  }
  #one:checked ~ .button .two{
    width: 15px;
  }
  #two:checked ~ .button .one{
    width: 15px;
  }
  #two:checked ~ .button .two{
    width: 35px;
  }
  input[type="radio"]{
    display: none;
  }
  @media (max-width: 768px) {
    .main-card .cards .card{
      margin: 20px 0 10px 0;
      width: calc(100% / 2 - 10px);
    }
  }
  @media (max-width: 600px) {
    .main-card .cards .card{
      /* margin: 20px 0 10px 0; */
      width: 100%;
    }
  }



